@{
    ViewData["Title"] = "Hozzáférés Megtagadva";
}
<div class="container content-padding text-center">
    <h1 class="display-4 text-danger">@ViewData["Title"]</h1>
    <p class="lead">Nincs jogosultsága ennek az oldalnak a megtekintéséhez.</p>
    <p>Ha úgy gondolja, hogy itt kellene lennie, kérjük, lépjen kapcsolatba a rendszergazdával.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Vissza a Főoldalra</a>
</div>